/storage/database.sqlite
/storage/database.sqlite-shm
/storage/database.sqlite-wal
/storage/database.sqlite.broken-*
/storage/uploads/*
/storage/worker.lock
/storage/worker.pid
/storage/worker.log
/storage/php-error.log
/storage/sessions/*
/public/media/*
!/storage/uploads/.gitkeep
!/storage/sessions/.gitkeep
!/public/media/.gitkeep
/config/stream.apiweb.app.conf
/vendor/
/.idea/
/.DS_Store
